body{
    margin: 0;
    padding: 0;
}
div{
    background-image: url(./images/bg1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    animation: change-color 3s linear infinite;
}
div::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 38%;
    background: url(./images/rainfall.png);
    animation: rainfall 0.2s linear infinite;
}

@keyframes change-color {
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

@keyframes rainfall {
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 20% 100%;
    }
    
}